/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

#app {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button,
#search-btn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn {
    padding: 8px 10px;
    /* Adjust top/bottom padding and left/right padding */
    margin-left: 0px;
}

#search-input {
    width: 75%;
}

#search-btn {
    width: 20%;
}

button:hover {
    background-color: #218838;
}

h2 {
    margin-top: 20px;
    color: #333;
}

#posts {
    margin-top: 20px;
}

.post {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #f9f9f9;
}


h3 {
    margin: 0;
    color: #333;
}

p {
    color: #666;
}


.search-section {
    margin-bottom: 5px;
}


footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}